<div class="row col-12  bg-dark text-light">

    <div class="col-4">
      <p class="text-center">About <span> Online</span> Shopping</p>
      <p class="text-center">
        Ut congue augue non tellus bibendum, in varius tellus condimentum. In scelerisque nibh tortor, sed
        rhoncus
        odio condimentum in. Sed sed est ut sapien ultrices eleifend. Integer tellus est, vehicula eu lectus
        tincidunt, ultricies feugiat leo. Suspendisse tellus elit, pharetra in hendrerit ut, aliquam quis
        augue. Nam
        ut nibh mollis, tristique ante sed, viverra massa.
      </p>
    </div>
    <div class="col-4">
      <div class="text-center">
        <p class="text-center">CONTACT</p>
       
        <p><i class="fas fa-map-marker-alt"></i> via AmistKillo 1137 Addis Ababa Ethiopia</p>
        <p><i class="fas fa-phone-volume"></i> Phone: (+251)986557047</p>
        <p><i class="fas fa-envelope-square"></i> Email: se.solomon.kasahun@gmail.com</p>
        <p><i class="fab fa-skype"></i> Skype: you online</p>
      </div>
    </div>
    <div class="col-4">
      <div class="">
        <p class="">Fol<span>low</span>US</p>
        <a href="" class="ml-3 pt-5"><i class="fab fa-facebook-f"></i></a>
        <a href="" class="ml-3 pt-5"><i class="fab fa-instagram"></i></a>
        <a href="" class="ml-3 pt-5"><i class="fab fa-twitter"></i></a>
        <a href="" class="ml-3 pt-5"><i class="fab fa-linkedin-in"></i></a>
        <a href="" class="ml-3 pt-5"><i class="fab fa-google-plus-g"></i></a>
      </div>
    </div>
  </div>
