
<nav class="navbar navbar-expand-sm navbar-dark bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand"  [routerLink]="['']">
      <img src="assets/Ministry_of_Peace.png"  id="logo"class="rounded-circle" width="60" height="45" alt="" /> &nbsp; &nbsp;

      <span>ፍትህ ሚኒስቴር </span>
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#mynavbar">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="mynavbar">
      <ul class="navbar-nav me-auto">
     
        <!-- <li class="nav-item">
          <a class="nav-link">መነሻ ገጽ</a>
        </li> -->
        <!-- <li class="nav-item">
          <a class="nav-link">መረጃ</a>
        </li> -->
      </ul>
      <div class="d-flex">
        
        <!-- <a [routerLink]="['login']"  style="color: white; text-decoration: none;">ግባ</a> -->
        &nbsp; &nbsp; &nbsp; &nbsp;
        <a  [routerLink]="['/login']"style="color: white; text-decoration: none;" href="">ይዉጡ</a>
      </div>
    </div>
  </div>
</nav>
