<div>
    <header id="header" class="fixed-top d-flex align-items-center header-transparent">
        <div class="container d-flex justify-content-between align-items-center">
    
          <div class="logo" style="display: inline-flex;">
    
            <a class="navbar-brand"  [routerLink]="['']">
              <img src="assets/Ministry_of_Peace.png"  id="logo"class="rounded-circle" width="60" height="45" alt="" /> &nbsp; &nbsp;
        
              <span style="color: white;">ፍትህ ሚኒስቴር </span>
            </a>
            <!-- Uncomment below if you prefer to use an image logo -->
          </div>
    
          <nav id="navbar" class="navbar">
            <ul>
                <li><a  [routerLink]="['login']">ይግቡ</a></li>
                <li><a [routerLink]="['comment']" >ያግኙን</a></li>
             
            </ul>
          </nav>
    
        </div>
      </header>
    
      <section id="hero" class="d-flex justify-cntent-center align-items-center">
        <div id="heroCarousel" class="container carousel carousel-fade" data-bs-ride="carousel" data-bs-interval="5000">
    
          <!-- Slide 1 -->
          <div class="carousel-item active">
            <div class="carousel-container">
              <h2 class="animate__animated animate__fadeInDown">እንኳን ወደ ድህረ ገጻችን በደህና መጡ <span></span></h2>
              <p class="animate__animated animate__fadeInUp">እንኳን ወደ ኢንፎርሜሽን ቴክኖሎጂ ዳይሬክቶሬት የድጋፍ መጠየቂያ ገፅ በሰላም መጡ የሚፈልጉትን የድጋፍ አገልግሎት ለመጠየቅ የተጠቃሚ ስምዎን እና የይለፍ ቃልዎን ያስገቡ</p>
              <a href="" class="btn-get-started animate__animated animate__fadeInUp">ይግቡ</a>
            </div>
          </div>
    
          <!-- Slide 2 -->
          <div class="carousel-item">
            <div class="carousel-container">
              <h2 class="animate__animated animate__fadeInDown">እንኳን ወደ ድህረ ገጻችን በደህና መጡ</h2>
              <p class="animate__animated animate__fadeInUp">እንኳን ወደ ኢንፎርሜሽን ቴክኖሎጂ ዳይሬክቶሬት የድጋፍ መጠየቂያ ገፅ በሰላም መጡ የሚፈልጉትን የድጋፍ አገልግሎት ለመጠየቅ የተጠቃሚ ስምዎን እና የይለፍ ቃልዎን ያስገቡ.</p>
              <a href="" class="btn-get-started animate__animated animate__fadeInUp">ይግቡ</a>
            </div>
          </div>
    
          <!-- Slide 3 -->
          <div class="carousel-item">
            <div class="carousel-container">
              <h2 class="animate__animated animate__fadeInDown">እንኳን ወደ ድህረ ገጻችን በደህና መጡ</h2>
              <p class="animate__animated animate__fadeInUp">እንኳን ወደ ኢንፎርሜሽን ቴክኖሎጂ ዳይሬክቶሬት የድጋፍ መጠየቂያ ገፅ በሰላም መጡ የሚፈልጉትን የድጋፍ አገልግሎት ለመጠየቅ የተጠቃሚ ስምዎን እና የይለፍ ቃልዎን ያስገቡ</p>
              <a href="" class="btn-get-started animate__animated animate__fadeInUp">ይግቡ</a>
            </div>
          </div>
        </div>
      </section> 
   
        <footer >
            <!-- <app-footer></app-footer> -->
           
        </footer>
  
</div>